/* Estilo general de la página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Hace que el tamaño de los elementos incluya padding y border */
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f4f4f4;
}

/*Imagen grande*/
.adn-upc-section-clima {
  position: relative; /* Posicionamiento relativo para elementos hijos */
  background-image: url("IMG/ClimaSuelo.png"); /* Imagen de fondo */
  background-size: cover; /* Cubre todo el área disponible */
  background-position: center; /* Centra la imagen de fondo */
  height: 600px;
  color: white; /* Color del texto */
  display: flex; /* Flexbox para el contenido */
  align-items: center; /* Alinea verticalmente el contenido */
}

.left-content {
  display: flex;
  align-items: center;
  gap: 20px; /* Espacio entre los elementos */
  position: absolute; /* Elemento posicionado absolutamente */
  left: 20px; /* Posición desde la izquierda */
}

.content-adn-clima {
  display: flex;
  flex-direction: column; /* Organiza elementos en columna */
  align-items: flex-start; /* Alinea al inicio */
  margin-left: 150px; /* Margen a la izquierda */
}

.content-adn-clima .logo img {
  width: 800px; /* Ancho de la imagen */
  height: 250px; /* Altura de la imagen */
}

.subtitle {
  font-size: 1.5rem; /* Tamaño de fuente */
  margin-top: 10px; /* Margen superior */
}

/*contenido*/
.contenedor {
  width: 100%;
}

.section-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.left-group,
.right-group {
  display: flex;
  align-items: center;
}

.left-group img {
  margin-right: 10px;
}

.right-group img {
  margin-left: 10px;
}

.text-green-large {
  color: green;
  font-size: 1.5em;
  font-weight: bold;
}

.text-bold-underline {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  flex-grow: 1;
}
/* conteiner*/
.container {
  display: flex;
  justify-content: flex-start; /* Alinea la imagen del mapa a la izquierda */
  padding: 20px;
}

.mapa {
  width: 300px;
  height: auto;
  margin-right: 20px;
}

.clima-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Asegura que el clima-section ocupe el ancho restante */
}

.clima-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.clima {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.temperatura {
  font-weight: bold;
  font-size: 1.5em;
}

.info-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.info-item {
  text-align: center;
  margin: 5px 15px;
}

.info-value {
  font-size: 1.2em;
  font-weight: bold;
  color: green;
}

.info-label {
  font-size: 1em;
  color: black;
}
