/* Estilo general de la página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Hace que el tamaño de los elementos incluya padding y border */
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f4f4f4;
}
/*buscar*/
.section-line {
  width: 80px;
  height: 3px;
  background-color: #3aad2c;
  margin: 10px auto 20px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin-bottom: 20px;
}

.search-bar {
  padding: 8px 8px 8px 35px;
  border: 1px solid #3aad2c;
  border-radius: 15px;
  font-size: 0.9rem;
  width: 200px;
  margin-left: auto;
}
/*contenido*/
.button-text-section {
  padding: 20px;
  text-align: center;
}

.button-text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.button-text-item {
  max-width: 500px; /* Puedes ajustar el tamaño según lo necesites */
}

.custom-button {
  background-color: white;
  border: 2px solid #3aad2c; /* Borde verde */
  color: #3aad2c; /* Texto verde */
  padding: 10px 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #3aad2c; /* Fondo verde al pasar el mouse */
  color: white; /* Texto blanco al pasar el mouse */
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.5px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: none; /* Sin sombra para el texto descriptivo */
}
/* Sección Adn-Upc */
.adn-upc-section-comunidad {
  position: relative; /* Posicionamiento relativo para elementos hijos */
  background-image: url("IMG/Comunidad.png"); /* Imagen de fondo */
  background-size: cover; /* Cubre todo el área disponible */
  background-position: center; /* Centra la imagen de fondo */
  height: 600px;
  color: white; /* Color del texto */
  display: flex; /* Flexbox para el contenido */
  align-items: center; /* Alinea verticalmente el contenido */
}

.left-content {
  display: flex;
  align-items: center;
  gap: 20px; /* Espacio entre los elementos */
  position: absolute; /* Elemento posicionado absolutamente */
  left: 20px; /* Posición desde la izquierda */
}

.content-adn-comunidad {
  display: flex;
  flex-direction: column; /* Organiza elementos en columna */
  align-items: flex-start; /* Alinea al inicio */
  margin-left: 150px; /* Margen a la izquierda */
}

.content-adn-comunidad .logo img {
  width: 800px; /* Ancho de la imagen */
  height: 250px; /* Altura de la imagen */
}

.subtitle {
  font-size: 1.5rem; /* Tamaño de fuente */
  margin-top: 10px; /* Margen superior */
}
