/* Estilo general de la página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh; /* Toma toda la altura de la ventana */
}

.image-section {
  flex: 1; /* Ocupa la mitad del espacio */
  overflow: hidden; /* Evita el desbordamiento de la imagen */
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio */
}

.form-section {
  flex: 1; /* Ocupa la otra mitad del espacio */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 80%; /* Ajusta el ancho del formulario */
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 80px; /* Tamaño del logo */
  margin-bottom: 20px;
}

label {
  align-self: flex-start;
  margin-top: 10px;
  font-weight: bold;
}
/* Estilo de los cuadros de credenciasles*/
input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #ddd; /* Color del borde */
  border-radius: 12px; /* Bordes redondeados */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  transition: box-shadow 0.3s; /* Transición para la sombra */
  font-size: 16px;
}

input:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada en hover */
  background-color: #3aad2c;
}

/* Estilo del boton de Inicio de Sesión*/
button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: white;
  color: black; /* Color del texto */
  border: 2px solid #3aad2c; /* Color, grosor y estilo del borde */
  border-radius: 12px; /* Bordes redondeados */
  cursor: pointer;
}

button:hover {
  background-color: #3aad2c;
}

/* Estilo del enlace de registro */
.register-link {
  margin-top: 15px;
}

.register-link a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

/* Línea divisoria decorativa */
.divider {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.divider span {
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.divider p {
  margin: 0 10px;
  color: #888;
  font-weight: bold;
}

/* Estilos de los botones de redes sociales */
.social-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s;
  border-radius: 12px;
}

.social-button:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

/* Estilo de los íconos dentro de los botones */
.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
